@import "../../../variables.scss";

.card-title
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.file:hover
{
    background-color: $file-hover;
    cursor: pointer;
}

.file-text
{
    font-size: 5rem;
    width: 100%;
    user-select: none;
    text-align: center;
}

.file-link-container
{
    float: right;   
}

.file-card-link
{
    color: $main-color;
}

.file-card-link:hover
{
    color: $main-hover;
}