<div id="${fileId}" class="file card">
    <div class="card-body">
    <h5 class="card-title">{{ File?.Name ?? '' }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ ConvertToMB(File?.Size ?? 0) }} mb</h6>
    <p class="card-text file-text">{{ GetFileIcon(File?.Name ?? '') }}</p>
        <div class="file-link-container d-inline-flex">
            <a class="card-link file-card-link" (click)="Download()"><fa-icon [icon]="downloadIcon"></fa-icon></a>
            <a class="card-link file-card-link" (click)="Share()"><fa-icon [icon]="shareIcon"></fa-icon></a>
            <a class="card-link file-card-link" (click)="Delete()"><fa-icon [icon]="trashIcon"></fa-icon></a>
        </div>
    </div>
</div>