<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <title>mycloud</title>
</head>

<body>
    <app-nav></app-nav>

    <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
    
    <!--<app-files [Files]="this.Files$" [CurrentPage]="this.CurrentPage" [Action]="'page_' + this.CurrentPage">
        <h2 class="d-inline m-1" id="page-title" [innerHTML]="PageTitles[CurrentPage]"></h2>
    </app-files>-->

    <router-outlet></router-outlet>

    <app-footer></app-footer>

</body>

</html>